[Unit]
Description=KernelGatekeeper Client-Side Proxy Listener (SockOps Model)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kernelgatekeeper-client -socket=/var/run/kernelgatekeeper.sock
Restart=on-failure
RestartSec=5s
AmbientCapabilities=
CapabilityBoundingSet=

[Install]
WantedBy=default.target
